*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
}

.container{
    width: 500px;
    margin: 0 auto;
}

.todo_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    background-size: 499px;
    padding: 15px;
    margin-top: 70px;
    border-radius: 10px;
}

.todo_title{
    margin-bottom: 15px;
    font-size: 35px;
}

.todo_div{
    display: flex;
}

.todo_input{
    font-size: 14px;
    padding: 6px 8px;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: none;
}

.todo_btn{
    font-size: 14px;
    padding: 6px 8px;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
}

.todo_btn:hover{
    background-color: rgb(223, 239, 253);
}

.todo_container{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    background-position: space;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgb(247, 223, 191);
}

.todo:last-child{
    border: none;
}

.todo_left{
    display: flex;
    align-items: center;
}

.todo_text, .todo_edit{
    margin-left: 8px;
}

.todo_cb{
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: 0.3s ease all;
    border-radius: 3px;
}

.todo_cb:hover{
    border-color: #999;
}

.todo_cb:checked{
    background: url(check_FILL0_wght400_GRAD0_opsz24.svg) no-repeat center;
    background-size: 20px;
}

.todo_cb:checked ~ .todo_text{
    text-decoration: line-through;
    color: #808080bd;
    -webkit-text-stroke: 0;
}

.todo_delete{
    color: #fff;
    border: none;
    background-color: tomato;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.todo_delete:hover{
    background-color: rgb(255, 117, 93);
}

.todo_edit{
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(61, 224, 116);
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 6px 8px;
    transition: 0.3s ease all;
}

.todo_edit:hover{
    background-color: rgb(53, 192, 99);
}

.todo_save{
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(61, 151, 224);
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 6px 8px;
    transition: 0.3s ease all;
}

.todo_save:hover{
    background-color: rgb(94, 166, 224);
}

.newText{
    background-color: rgb(252, 244, 234);
    font-size: 14px;
    padding: 6px 8px;
    border-radius: 5px;
    outline: none;
    border: none;
}
